service:
  base-path: /compiler # Базовый путь для всех запросов (https://<url>/api/v<version>/<base-path>/...)
  port: 8800 
  metrics-port: 8802
  log-level: debug
  log-add-source: true
  log-timeout: 10s
  log-max-file-size: 100 # Максимальный размер файла лога (Мб)
  log-max-backups: 3 # Максимальное количество бэкапов лога
  log-max-age: 28 # Максимальный возраст файла лога (дней)
  metrics-endpoint: /metrics
docker:
  host: "unix:///var/run/docker.sock"
  image: "dnonakolesax/noted-kernel:0.0.2"
  network: "noted-rmq-runners"
  prefix: "noted-kernel_"
  app-port: "8080"
  volume:
    source: "notedcode"
    target: "/noted/codes"
  env:
    rmq_addr: "amqp://guest:guest@rabbit:5672/"
    mount_path: "/noted/codes/kernels"
    export_prefix: "Export_block_"
    block_prefix: "block_"
    chan_name: "noted-kernels"
    block_timeout: 30s
http-client:
  dial-timeout: 5s # Таймаут на установку соединения (секунды)
  request-timeout: 30s # Таймаут на весь запрос
  keep-alive: 30s # Время жизни соединения
  max-idle-conns: 100 # Максимальное количество неактивных соединений
  idle-conn-timeout: 90s # Время, в течение которого соединение считается неактивным
  retries:
    max-attempts: 3 # Максимальное количество попыток повтора запроса
    base-delay: 200ms # Минимальная задержка между попытками (миллисекунды)
    max-delay: 3s # Максимальная задержка между попытками (миллисекунды)
    on-status: [429, 502, 503, 504] # Коды статусов, при которых повторяется запрос
http-server: 
  read-timeout: 5s # Таймаут на чтение запроса
  write-timeout: 10s # Таймаут на запись ответа
  idle-timeout: 30s # Таймаут на ожидание проставающего соединения
  max-idle-worker-duration: 10s # Таймаут для горутин-воркеров
  max-req-body-size: 4*1024*1024 # Максимальный размер тела запроса (байты)
  read-buffer-size: 4*1024 # Размер буфера чтения (байты)
  write-buffer-size: 4*1024 # Размер буфера записи (байты)
  concurrency: 256*1024 # Максимальное количество одновременных соединений
  max-conns-per-ip: 100 # Максимальное количество соединений на IP
  max-requests-per-conn: 1000 # Максимальное количество запросов на соединение
  tcp-keepalive-period: 3m # Период проверки TCP-подключения  